:root {
  --color-white: #F9FAFB;
  --color-light-grey: #A7A7A7;
  --color-drak-grey: #434343;
  --color-light-green: #62D84E;
  --color-mid-green: #4AAD4B;
  --color-dark-green: #009156;
  --color-light-blue: #5274FF;
  --color-dark-blue: #032D42;
  --color-light-yellow: #DBEF89;
}